.table-header {
    font-size: 25px;
    font-weight: 500;
    margin-right: 10px;    
}

.sim-table {
    margin-top: 10px;
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table {
    display: table;
    width: 100%;
    cursor: default;
}

    table thead, table tbody {
        float: left;
        width: 100%;
    }

    table tbody {
        overflow: auto;
        height: 270px;
    }

    table tr {
        width: 100%;
        display: table;
        text-align: left;
    }


    table th.del, table td.del {
        width: 30px;
    }

    table th.id, table td.id {
        width: 40px;
    }

    table .delete-icon {
        display: none;
    }

    table .table-primary .delete-icon {
        display: inherit;
        cursor: pointer;
    }

.door-count-chooser {
    font-size: 1.3em;
}

    .door-count-chooser .door-selected {
        color: red;
    }

div {
    outline-style: none;
}

img::-moz-selection {
    background: transparent;
}

img::selection {
    background: transparent;
}

.stage img {
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    outline-style: none;

}

.btn-play-again {
    margin-left: 20px;
}

.run-controls {
    font-size: 3em;
}
    .run-controls i {
        color: #007bff;
        margin-left: 10px;
        cursor: pointer;
    }

.disabled {
    opacity: .2;
}