.sim-header {
    font-size: 25px;
    font-weight: 500;
    margin-right: 10px;
}

.sim-table {
    margin-top: 10px;
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table  {
    display: table;
    width: 100%;
}

    table thead, table tbody {
        float: left;
        width: 100%;
    }

    table tbody {
        overflow: auto;
        height: 150px;
    }

    table tr {
        width: 100%;
        display: table;
        text-align: left;
    }

    table th, table td {
        width: 33%;
    }
